# Python 3.7.4
ConfigArgParse
h5py
zarr
torch==1.5.1
torchvision==0.6.1
batchgenerators
pytorch-lightning==0.9.0
neptune-client
visdom
nibabel
joblib
tqdm
psutil
python-dotenv
click
nilearn
hydra-core # --upgrade
# pip install -e ./